* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(rgb(193, 219, 255), rgb(255, 255, 255));
    height: 100vh;
}
#pokedexBody {
    padding-left: 35%;
    padding-top: 2%;

}
#containerPokemonImg {
    margin-top: 14%;
    margin-left: 10%;
    width: 48px;
    height: 48px;
    position: absolute;
}
#pokemonGif {
    height: 200%;
}
#pokemonDescription {
    margin-top: 70%;
    margin-left: 100%;
    position: absolute;
}
#descriptionInfo {
    color: rgb(65, 65, 65);
    font-size: 20px;
    width: 150px;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
}
#containerPokemonInfo {
    margin-top: 30%;
    margin-left: 5%;
    position: absolute;
    width: 50%;
}
#inputPokemon {
    margin-bottom: 1%;
    height: 30px;
    padding: 1%;
    border-radius: 5px;
}
#buttonSearch {
    font-size: 10px;
}

/*Media query para adequação ao mobile*/
@media screen and (max-width:1000px) {
    #pokedexBody {
        padding-left: 0;
        padding-top: 25%;
    }

    #containerPokemonImg {
        margin-top: 38%;
        margin-left: 34%;
    }

    #containerPokemonInfo {
        margin-top: 90%;
        margin-left: 20%;
    }
    #pokedexImg
    {
        width: 90%;
        margin-left: 5%;
    }
    #descriptionInfo {
        margin-top: -10px;
        margin-left: -30px;
    }
    #inputPokemon {
        width: 150px;
    }
}